.container {
	padding: var(--pds-spacing-xl);
}

.container h2 {
	color: var(--pds-color-fg-default);
	font-size: var(--pds-typography-size-xl);
	margin-bottom: var(--pds-spacing-m);
}

.container p {
	color: var(--pds-color-fg-default-secondary);
	line-height: var(--pds-typography-lh-m);
	margin-bottom: var(--pds-spacing-xs);
}
