.docGrid {
	display: grid;
	gap: var(--pds-spacing-l);
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-block-end: var(--pds-spacing-3xl);
}

.docGrid :global(.pds-empty-state-card__summary) {
	margin-block-end: var(--pds-spacing-m);
}

.footer {
	border-block-start: var(--pds-border-width-default) solid
		var(--pds-color-border-default);
	color: var(--pds-color-fg-subtle);
	font-size: var(--pds-typography-size-s);
	padding-block-start: var(--pds-spacing-xl);
}
