.resource {
	font-family: var(--pds-typography-ff-sans);
}

.header {
	border-block-end: var(--pds-border-width-default) solid
		var(--pds-color-border-default);
	margin-block-end: var(--pds-spacing-2xl);
	padding-block-end: var(--pds-spacing-xl);
}

.section {
	margin-block-end: var(--pds-spacing-3xl);
}

.list {
	line-height: 1.6;
	margin-block-start: var(--pds-spacing-m);
	padding-inline-start: var(--pds-spacing-xl);
}

.list li {
	margin-block-end: var(--pds-spacing-s);
}

.promptExample {
	margin-block-end: var(--pds-spacing-xl);
}

.footer {
	border-block-start: var(--pds-border-width-default) solid
		var(--pds-color-border-default);
	margin-block-start: var(--pds-spacing-3xl);
	padding-block-start: var(--pds-spacing-xl);
}

.footer a {
	color: var(--pds-color-fg-link);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}
