.resource {
	font-family: var(--pds-typography-ff-sans);
}

.section {
	margin-block-end: var(--pds-spacing-3xl);
}

.list {
	line-height: 1.6;
	margin-block-start: var(--pds-spacing-m);
	padding-inline-start: var(--pds-spacing-xl);
}

.list li {
	margin-block-end: var(--pds-spacing-s);
}

.configPaths {
	display: flex;
	flex-direction: column;
	gap: var(--pds-spacing-l);
	margin-block: var(--pds-spacing-l);
}

.configPath strong {
	display: block;
	margin-block-end: var(--pds-spacing-xs);
}

.footer {
	border-block-start: var(--pds-border-width-default) solid
		var(--pds-color-border-default);
	margin-block-start: var(--pds-spacing-3xl);
	padding-block-start: var(--pds-spacing-xl);
}
