* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Override PDS font-family to use Next.js optimized fonts */
body {
	font-family: var(--font-poppins), sans-serif;
}

code,
kbd,
samp,
pre {
	font-family: var(--font-source-code-pro), monospace;
}
